[Unit]
Description=SmoothNAS host initialization
Documentation=https://github.com/JBailes/SmoothNAS
After=local-fs.target systemd-sysusers.service network-online.target
Wants=network-online.target
Before=tierd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tierd __host_init
Environment=HOME=/root
Environment=USER=root
Environment=LOGNAME=root
